#%RAML 1.0
title: craft-phone-validation-api
baseUri: http://apilayer.net/api
securitySchemes:
  basic:
    type: Basic Authentication
    displayName: Basic Authentication
    description: API with basic Authentication
protocols: [HTTP]

description: NumVerify offers a full-featured yet simple RESTful JSON API for national and international phone number validation and information lookup for a total of 232 countries around the world.

documentation:
  - title: Num Verify API
    content: Refer below doc for more information https://numverify.com/documentation


types:
  apiresponse:
    properties:
      valid: boolean
      number: string
      local_format: string
      international_format: string
      country_prefix: string
      country_code: string
      country_name: string
      location: string
      carrier: string
      line_type: string
/validate:
  get:
    queryParameters:
      access_key: string
      number: string
      country_code: string
      format: string
    description: For validating the phone
    displayName: Validate Phone
    protocols: [HTTP]
    responses:
      200:
        body:
          application/json:
            type: apiresponse
            example: !include Examples/example.raml
    
    
      400:
        body:
          aplication/json:
            
            example:
              {
                message: "Bad request"
              }

      401:
        body:
          application/json:
            example:
              {
                message: "Unauthorized"
              }    
      500:
        body:
          application/json:
            example:
              {
                message: "Internal Server Erorr"
              }        
              


